name: Continuous Integration

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  test-action:
    name: "Release Action"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: libraries/js-lib
    steps:
      - uses: actions/checkout@v3
      - id: test-action
        uses: ./
        with:
          release-type: node
          package-name: prs-test-js-lib
          prerelease: true
          extra-files: |
            README.md
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
