name: Continuous Integration

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  test-action:
    name: "Release Action"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: libraries/js-lib
    steps:
      - uses: actions/checkout@v3
      - id: test-action
        uses: ./
        with:
          release-type: node
          package-name: prs-test-js-lib
          package-path: libraries/js-lib
          extra-files: |
            README.md
            { "type": "json", "path": "libraries/js-lib/package.json", "jsonpath": "$.version" }
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
