name: Continuous Integration

on:
    push:
        branches:
            - main

jobs:
    test-action:
        name: "Test release action"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - id: test-action
              uses: ./
              with:
                package-name: hello-world
                release-type: node
              env: 
                NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                
